# Ignorar todo
*

# Permitir solo estos archivos
!ocr_familiar.py
!scr_familiar.py
!.gitignore
!ocr_gnbpy.py
!scr_gnbpy.py
!scr_continental.py
!ocr_continental.py
!scr_interfisa.py
!ocr_interfisa.py
# Ignorar carpetas comunes
__pycache__/
data/
venv/
ejemplo.json
